/* JavaFX CSS 
 * Define rules to style the GUI components
 * @author cspeter
 */

.menu-title {    
	-fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
.menu-button {
	 -fx-pref-width:200;
	 -fx-pref-height:40;
	 
}

.screen-background {
	-fx-background-color: Black;
}
.button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color: #373837 ;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.label {
   -fx-text-fill: white;
   
   
}
// Background color of the whole context menu
.choice-box .context-menu { -fx-background-color: black; }
// Focused item background color in the list
.choice-box .menu-item:focused { -fx-background-color: orange; }
// Text color of non-focused items in the list
.choice-box .menu-item > .label { -fx-text-fill: white; }
// Text color of focused item in the list
.choice-box .menu-item:focused > .label { -fx-text-fill: black; }

// Background color of the control itself
.choice-box {
  -fx-background-color: grey;
  -fx-mark-color: orange; // arrow color
}

// Selected item text color on the control itself
.choice-box > .label { -fx-text-fill: white; }